.title {
    text-align: center;
    color:white;
    text-decoration: none;
    
}

.fb {
    padding-top: 10%;
}

.title_link a{
    color:white !important;
}

.title_link a:hover {
    text-decoration: none;
}

.navbar .navbar-nav  {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

body {
/* font-family: "Arial", "Helvetica", "sans-serif";*/
font-family: 'Dosis', sans-serif !important;
  font-size: 12px;
  line-height: 1.42857143;
  color: #ffffff;
  background: url(../images/bg.jpg) no-repeat center center fixed #5d1338; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner-pedicure img {
    width:100%;
}

.space {
    padding-top: 2%;
}

.background{
    padding:2% 0 2% 0;
    background-color: #ffffff;  
    width:80%;
    padding:auto;
    margin:auto;
    border-radius: 20px;
}

.center {
    text-align: left;
    padding-left:25%;
    padding-top:5%;
    padding-bottom: 5%;
}

.center div {
    padding-bottom:0.5%;
}

.align-center {
    text-align: center;
}

.homepage-banner {
    text-align: center;
}

.homepage-banner img {
    padding:auto;
    margin:auto;
}

.footer-style{
    color:#ffffff;;
    background-color: #460d29;
    display:block;
    height: 10%;
    font-size: 14px;
    padding:3% 0 3% 0;
    text-align: center;
    margin: 5% 0 0 0 ;
}

.info  {
    text-align: center;
    margin: 2% 3% 0 3%;
}

.image-custom{
    margin:auto;
    display: block;
    max-width:60%;
    height: auto;
}

.welkom {
    text-align: center;
    padding: 3% 0 3% 0;
}

.price {
    text-align: center;
}

.navbar-custom {
    background-color:transparent !important;
    color:#ffffff !important;
    border-radius:0;
    border-color:transparent !important;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff !important;;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ff9694 !important;
    background-color: inherit !important;
}

.active-link{
    color:#ff9694 !important;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: transparent !important;
    color:#ff9694 !important;
}

.navbar-custom .navbar-brand {
    color:#eeeeee !important;;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee !important;;
}
/*.navbar-custom .icon-bar {
    background-color:transparent !important;;
}*/

/*.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color:transparent !important;;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
  color: #fff !important;;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #fff !important;;
}*/